<h1>Book Service</h1>

<form method="POST" action="/booking/create">
  <input name="e ID" />
  <input name="startTime" placeholder="2026-05-20T10:00:00" />
  <button type="submit">Book</button>
</form>